<main>
  <header class="p-4 bg-sky-700">
    <h1 class="text-6xl font-bold italic text-white">DEPOKÉDEX</h1>
  </header>
  <section class="content">
    <section class="p-8 justify-center">
      <form class="bg-sky-200">
        <input type="text" placeholder="Type the name of a Pokémon!" #filter />
        <button
          class="primary"
          type="button"
          (click)="filterResults(filter.value)"
        >
          Search
        </button>
      </form>
    </section>
    <section class="results">
      <app-data-modal
        *ngIf="isModalVisible"
        [pokemon]="selectedPokemon"
        (closed)="hideDataModal()"
      ></app-data-modal>
      <div class="grid-cols-3">
        <app-data-card
          *ngFor="let pokemon of pokemonSummarized"
          [pokemon]="pokemon"
          (clicked)="showDataModal($event)"
        ></app-data-card>
      </div>
    </section>
  </section>
</main>
